<html>
	<head>
		<title>BREAKTIME - Help</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/pagetemplate.css" />
	</head>
	<body>

		
		<center>
			<div class="container" style="margin-top:500px">

				<div align="justify" style="margin-top:-106px;">
					<h1>HELP</h1>
					<br >
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in convallis ex, non volutpat mi. In mattis facilisis quam ac vulputate. Nullam pretium, dui at aliquet pellentesque, urna orci vulputate odio, ut ultricies tellus turpis et augue. Proin quis tortor leo. Suspendisse felis ex, viverra et lectus egestas, ultrices finibus nisl. Suspendisse potenti. Pellentesque in dui condimentum, aliquam augue ut, gravida turpis. Donec rhoncus lectus quis augue finibus, a fermentum ligula tristique. Aliquam porta nulla urna, at feugiat mi vulputate at. Nam ut odio posuere, condimentum urna id, aliquam purus. Ut pulvinar libero quis ipsum gravida rutrum.<br><br>
					<!--maybe have a way to contact us for questions or techinical difficulties on the page-->
					
			</div>
			</div>
			<div id = "bottomspace"></div>
		</center>
		<nav class="nav-bar navbar navbar-fixed-bottom">
 		<center>
 			<div><a href="home.html"><img src = "navicons/home.png" class = "navicon"></a></div>
	 		<div><a href="levels.html"><img src = "navicons/levels.png" class = "navicon"></a></div>
	 		<div><a href="activity.html"><img src = "navicons/activity.png" class = "navicon"></a></div>
	 		<div><a href="settings.html"><img src = "navicons/settings.png" class = "navicon"></a></div>
	 		<div><a href="help.html"><img src = "navicons/help.png" class = "navicon"></a></div>
	 		<span class = "stretch"></span>
 		</center>
		</nav>
	</body>
</html>