<html>
	<head>
		<title>BREAKTIME - Home</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/pagetemplate.css" />

	</head>
	<body>

		
		<center>
			<div class="container" style="margin-top:500px">

				<div align="justify" style="margin-top:-106px;">
					<h1>WELCOME</h1><br>
				</div>	
			
			<div id="countdown_timer" class = "jumbotron"><span style = "font-size:200px;"></span><br><h2>until your next break!</h2></div><br>
			<input id = "now_btn" class = "btn btn-default btn-xlarge" type = "button" value = "Breaktime now!"></input>
			<input id = "playresume_btn" class = "btn btn-default btn-xlarge" type = "button" value = "Pause"></input>
			<input id= "reset_btn" class = "btn btn-default btn-xlarge" type = "button" value = "Reset"></input>
				
			
			</div>

			</div>
			<div id = "bottomspace"></div>
		</center>
		<nav class="nav-bar navbar navbar-fixed-bottom">
 		<center>
 			<div><a href="home.html"><img src = "navicons/home.png" class = "navicon"></a></div>
	 		<div><a href="levels.html"><img src = "navicons/levels.png" class = "navicon"></a></div>
	 		<div><a href="activity.html"><img src = "navicons/activity.png" class = "navicon"></a></div>
	 		<div><a href="settings.html"><img src = "navicons/settings.png" class = "navicon"></a></div>
	 		<div><a href="help.html"><img src = "navicons/help.png" class = "navicon"></a></div>
	 		<span class = "stretch"></span>
 		</center>
		</nav>
	<script type="text/javascript">

		window.onload = function() {
			
			function eventDemo(event)
			{
			  	alert(event.type);
			};


			timer = new Countdown();
			timer.init();
			timer.start();


			$('#reset_btn').click(function() {
				$('#playresume_btn').prop('value', 'Pause');
			 	timer.reset();
			 	timer.start();
			    //could insert code here to show play and hide pause.
			});
			$('#playresume_btn').click(function() {
				if (this.value=="Pause")
				{
					timer.pause();
					this.value = "Resume";
				}
				else
				{
					timer.resume();
					this.value = "Pause";
				}
			});

			$('#now_btn').click(function() {
				var level = 8;
				window.location.href = "breaktime.html?level=" + level;
			});
			//timer.registerHandler('play', {}, eventDemo);
			//timer.registerHandler('pause', {}, eventDemo);
			//timer.registerHandler('stop', {}, eventDemo);
		};
	</script>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/countdown.js" type="text/javascript"></script>
  	<script src="js/javascript.js"></script>
	</body>
</html>