<!DOCTYPE html>
<html>
    <head>
        <title>BREAKTIME - Login</title>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/entry.css" />
    </head>
    <body>
        <center>
          <div id = "content" align = "center">
            <img src = "logo.png" style = "width:500px"><br>
            <h2>LOGIN</h2>
            Username: <input type="email" placeholder="Email">
            <br>

            Password: <input type="password" placeholder="Password">
            </br>
            </br>
            <input id= "submit" class = "btn btn-default btn-xlarge" type = "button" value = "Submit" onClick="location.href = 'home.html'">
            </br>
            </br>
            Don't have an account? <a href="register.html">Click</a> to register.
            <div id = "bottomspace"></div>
          </div>
        </center>
      </body>
</html>
